html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	 display: block;
 
}
.backoffice-header{
	background: #CCFFCC;
	font-size: 30px;
	font-style: italic;
	font-family: serif;
}
/*******************backoffice*****************************/
.backoffice-header2{
	background: #CCFFCC;
	font-size: 20px;	
}
.backoffice-edit-page{
	overflow: auto;
	max-height:250px;
	padding-bottom:20px;
	border-bottom:1px solid green;
}
.backoffice-dtab{
	display:block;
	float:left;
	max-width:350px;
	margin-right:50px;
	margin-bottom:50px;
}
.backoffice-dtab-right{
	display:block;
	/*float:right;*/
	max-width:350px;	
	max-height:250px;
	margin:0 auto;
}
.backoffice-edit-form{
/*  visibility: hidden;*/
 display: block;
 min-width:360px;
}
.backoffice-edit-form-item{
 	float:left;
}
.backoffice-form__label{
	
}
.backoffice-form__text-input{
	min-width:300px;
}
/****************************************************/
.header {
/*	background: #CCFFCC;*/   
	mix-height: 100px;
	padding: 0;
	margin: 0;
	background-image: url(img/800px_shoes.png), url(img/800px_shoes1.png);
    background-position: left, right;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: border-box;
    background-clip: border-box;		
}
.site-title {
	background: #CCFFCC;
	margin: 0;
	padding: 0 20px;
	line-height: 40px;
	font-size: 40px;
	font-style: italic;
	font-family: serif;
	border-radius: 15px;

}

.main-menu {	
	padding: 0;
	margin: 70px 0 0 0;
	list-style: none;
	float: right;
	/*border-right: 10px solid #CCFFCC;*/
}

.main-menu__item {
/*	border-left: 5px solid #CCFFCC;*/
    margin-right:5px; 
	float: left;
	height: 30px;
	font-family: monospace;
	font-size: 12pt;
	text-align: center;
	line-height: 30px;
	background: #88FF88;	
	border-radius: 15px;
}

.main-menu__item_current, .main-menu__item_link {
	display: block;
	padding: 0 20px;
}

.main-menu__item_current {
	font-weight: bold;
	background: #AAFFAA;
}

.main-menu__item_link {
	color: black;
	text-decoration: none;
}

.main-menu__item_link:hover {
	background: #66FF66;
	border-radius: 15px;
}
/***********************************/
.side {
	float: left;
	max-width: 25%;
	min-width: 84px;
}

.side-content {
	/*border-right: 5px dotted #CCFFCC;
	border-bottom: 5px dotted #CCFFCC;*/
}
.categories {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.categories__item {
	padding: 5px;
/*	max-width:100%; /*85px;*/
	min-width:84px;
	
}

.categories__item:before {
	content: none;
	list-style:none;	
}

.categories__item:hover {
	background: #66FF66;
	cursor: pointer;
}
.categories__item ul li:before {
	background: #66FF66;
	cursor: pointer;
}
.submenu{
	overflow: visible;
	/*background: #CCFFCC;*/
	z-index: 100;
}
.submenu ul{
   display: none;  
   position: absolute;
   left:80px;
   max-width: 175px;
   list-style-type:none;
   background: #CCFFCC;
}
.submenu:hover ul{
   display: block;   
}
.submenu li{
   padding-right:30px;   
   list-style-type:none;
   background: #CCFFCC;
   max-width: 175px;
   margin:0 auto;
}
.submenu:hover ul li{
	margin:0 auto;
	padding-right:30px;	
  top: 0;  
   list-style-type:none;

}
.sform {
margin-top: 10px;
margin-bottom: 10px;
overflow: visible;
}

.sform__text-input, .sform__input {
	/*margin: 5px 0 20px 0;*/
}

.sform__label, .bform__text-input {
	display: block;
}

.sform__text-input {
	/*box-sizing: border-box;*/
	padding: 5px 10px;
/*	border-size: 1px;*/
	width: 100%;
	border-radius: 10px;
}


/*************************************************/
.banner {
	float: left;
	margin: 0 20px 20px 0;
	padding: 0 20px 20px 0;
	width: 400px;
	height: 250px;
	border-right: 1px solid #CCFFCC;
	border-bottom: 1px solid #CCFFCC;
}
.banner__photo {
	float: left;
	margin: 5px;
	max-width: 250px;
	max-height:250px;
}
.banner__title {
	margin: 0;
	padding: 5px 20px;
	height: 20px;
	line-height: 20px;
	background: #CCFFCC;
	text-align: center;
	font-size: 2em;
	font-family: monospace;	
}
.banner__description {
	height: 160px;
	font-size: 1.5em;
	overflow: hidden;
}
/***********************************************/
.main {
	float: right;
	width: 75%;
}

.main-content {
	padding: 20px;
}

.page-title {
	margin: 0 0 20px 0;
}

.product {
	float: left;
	margin: 0 20px 20px 0;
	padding: 0 20px 20px 0;
	width: 400px;
	height: 250px;
	border-right: 5px dotted #CCFFCC;
	border-bottom: 5px dotted #CCFFCC;
}

.product__title {
	margin: 0;
	padding: 5px 20px;
	height: 20px;
	line-height: 20px;
	background: #CCFFCC;
}

.product__photo {
	float: left;
	margin: 5px;
	width: 150px;
	height: 150px;
}

.product__price {
	margin: 5px 0;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	color: red;
}

.product__description {
	height: 160px;
	overflow: hidden;
}

.product__button-add {
	display: block;
	float: right;
	margin: 0;
	padding: 0 20px;
	background: #88FF88;
	color: black;
	height: 30px;
	line-height: 30px;
	font-family: monospace;
	font-size: 12pt;
	text-decoration: none;
	border-radius: 15px;
}

.product__button-add:hover {
	background: #66FF66;
	border-radius: 15px;
}

.table {
	border-collapse: collapse;
}

.table__header, .table__cell, .table__cell_numeric {
	border: 1px solid black;
}

.table__header {
	padding: 10px 20px;
	background: #CCFFCC;
}

.table__cell {
	padding: 10px 20px 10px 10px;
}
.table__cell img{
	width: 20px;
	border: 1px solid black;
}

.table__cell_numeric {
	text-align: center;
	padding: 10px 20px;
}

.form {
	background: #CCFFCC;
	padding: 20px;
}

.form__text-input, .form__input {
	margin: 5px 0 20px 0;
}

.form__label, .form__text-input {
	display: block;
}

.form__text-input {
	box-sizing: border-box;
	padding: 10px 20px;
	border-size: 1px;
	width: 100%;
	border-radius: 10px;
}

.form__button, .form__button_danger {
	padding: 0 20px;
	border: 0;
	height: 30px;
	line-height: 30px;
	font-family: monospace;
	font-size: 12pt;
	cursor: pointer;
		background: #88FF88;	
	border-radius: 15px;
}
.text-input-height{
	height: 60px;
}
.form__button {
	background: #88FF88;
}

.form__button:hover {
	background: #66FF66;
}

.form__button_danger {
	background: #FF8888;
}

.form__button_danger:hover {
	background: #FF6666;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}

.pusher {
	height: 50px;
	margin-top:10px;
}

.footer {
	background: #CCFFCC;
	line-height: 50px;
	padding: 0 10px;
}

.end {
	clear: both;
}
.fleft{
	float: left;
}
.mright{
	margin-right: 50px;
}
ol{
  counter-reset: myCounter;
}

ol li{
  list-style: none;
  line-height: 20px;
  margin: 0 0 8px 0;
}

ol li:before {
  counter-increment: myCounter;
  content: counter(myCounter);  
  background: #66FF66;
  display: inline-block;
  text-align: center;
  line-height: normal;
  height: auto;
  width: auto;
  margin: 0 10px 0 0;
  padding: 0 8px;