<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Интернет-магазин &laquo;Всякая всячина&raquo;</title>
		<link rel="stylesheet" href="main.css" type="text/css">
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				 <div class="site-title fleft">Интернет-магазин &laquo;Всякая всячина&raquo;</div>
				<ul class="main-menu">
					<li class="main-menu__item"><a class="main-menu__item_link" href="index.html">Main</a></li>
					<li class="main-menu__item"><a class="main-menu__item_link" href="products.html">Catalog</a></li>
					<li class="main-menu__item"><a class="main-menu__item_link" href="basket.html">
					  <img src="img/bag.png"> cart (0)</a></li>				
					<li class="main-menu__item"><a class="main-menu__item_link" href="login.html">login</a></li>
					<li class="main-menu__item"><a class="main-menu__item_link" href="contact.html">Contacts</a></li>	
					<li class="main-menu__item"><a class="main-menu__item_link" href="about.html">About</a></li>
					<li class="main-menu__item"><a class="main-menu__item_link" href="terms.html">Terms</a></li>	
					<!--  <li class="end"></li>  -->
				</ul>				
				<div class="end"></div>
			</div>
<!-- **********SIDE CONTENT************************* -->			
			<div class="side">
				<div class="side-content">
<!--************************** -->
<ul class="categories">
 <li class="categories__item submenu">Men's shoes
    <ul>
       <li class="categories__item">Boots</li>
       <li class="categories__item">Winter Boots</li>
       <li class="categories__item">Chelsea Boots</li>
       <li class="categories__item">Loafers</li>
       <li class="categories__item">Shoes</li>
       <li class="categories__item">Flip Flops</li>
       <li class="categories__item">Sandals</li>
       <li class="categories__item">Slippers</li>
       <li class="categories__item">Sports Shoes</li>
	 </ul>
 </li>	 
 <li class="categories__item submenu">Women'shoes
    <ul>
	 <li class="categories__item">Boots</li>
     <li class="categories__item">Sandals</li>
     <li class="categories__item">Slippers</li>
     <li class="categories__item">Ankle Boots</li>
     <li class="categories__item">Chelsea Boots</li>
     <li class="categories__item">Sports Shoes</li>
     <li class="categories__item">Loafers</li>
     <li class="categories__item">Flip Flops</li>
     <li class="categories__item">Boat Shoes</li>
     <li class="categories__item">Winter Boots</li>
     <li class="categories__item">High Boots</li>
	</ul>
 </li> 	
 <li class="categories__item submenu">Unisex shoes
    <ul>
	 <li class="categories__item">Rubber Shoes</li>
     <li class="categories__item">Rubber Boots</li>
	 <li class="categories__item">Slippers</li>
	</ul> 
 </li>  
 <li class="categories__item submenu">Season
   <ul>
	 <li class="categories__item">Winter</li>
	 <li class="categories__item">Allseason</li>
	 <li class="categories__item">Insulated</li>
	 <li class="categories__item">Summer</li>
   </ul> 	  
 </li>	 
 <li class="categories__item submenu">Brand
  <ul> 
   <li class="categories__item">Euroshoes</li>
   <li class="categories__item">Puma</li>
   <li class="categories__item">Belwest</li>
  </ul>
 </li> 
 <li class="categories__item">Sale</li>
 <li class="categories__item">Sport</li>
 <li class="categories__item">Print</li>
 <li class="categories__item">Wedding</li>
</ul> 


				</div>
			</div>
			<div class="main">
				<div class="main-content">
					<h1 class="page-title">Terms</h1>
					<div>
						<p>a</p>
						<p>b</p>
						<ol>
						 <li>a1</li>
						 <li>a2</li>
						 <li>a3</li>
						</ol>
						<p>c</p>
					</div>
				</div>
			</div>
			<div class="pusher end"></div>
		</div>
		<div class="footer">&copy; Интернет-магазин &laquo;Всякая всячина&raquo;</div>
	</body>
</html>
