<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

    <display-name>My First Web-Application "Test"</display-name>

    <servlet>
      <servlet-name>TestServlet</servlet-name>
      <servlet-class>web.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ProductListServlet</servlet-name>
      <servlet-class>web.ProductListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/client/listing.html</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ProductListViewServlet</servlet-name>
      <servlet-class>web.ProductListViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductListViewServlet</servlet-name>
        <url-pattern>/WEB-INF/client/list.html</url-pattern>
    </servlet-mapping>
	
	  <servlet>
      <servlet-name>ListServlet</servlet-name>
      <servlet-class>web.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/users/list.html</url-pattern>
		<url-pattern>/client/list.html</url-pattern>
		<url-pattern>/category/list.html</url-pattern>
		<url-pattern>/classification/list.html</url-pattern>
		<url-pattern>/country/list.html</url-pattern>
		<url-pattern>/currency/list.html</url-pattern>
		<url-pattern>/img/list.html</url-pattern>
		<url-pattern>/itemcatgory/list.html</url-pattern>
		<url-pattern>/items/list.html</url-pattern>
		<url-pattern>/baseitem/list.html</url-pattern>
		<url-pattern>/sale/list.html</url-pattern>
		<url-pattern>/tagcloud/list.html</url-pattern>
		<url-pattern>/tagurl/list.html</url-pattern>
		<url-pattern>/webpages/list.html</url-pattern>
		<url-pattern>/size/list.html</url-pattern>
		<url-pattern>/color/list.html</url-pattern>
    </servlet-mapping>
	
    <servlet>
      <servlet-name>ListViewer</servlet-name>
      <servlet-class>web.ListViewer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListViewer</servlet-name>
        <url-pattern>/WEB-INF/view/list.html</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
